Connected Services/consumirApps/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CPUz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CPUzResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CPUzResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WinRAR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WinRARResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WinRARResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotepadPlusPlus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotepadPlusPlusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotepadPlusPlusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JFLAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JFLAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JFLAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Brave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreApp" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BraveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BraveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CPUzSoapIn">
    <wsdl:part name="parameters" element="tns:CPUz" />
  </wsdl:message>
  <wsdl:message name="CPUzSoapOut">
    <wsdl:part name="parameters" element="tns:CPUzResponse" />
  </wsdl:message>
  <wsdl:message name="WinRARSoapIn">
    <wsdl:part name="parameters" element="tns:WinRAR" />
  </wsdl:message>
  <wsdl:message name="WinRARSoapOut">
    <wsdl:part name="parameters" element="tns:WinRARResponse" />
  </wsdl:message>
  <wsdl:message name="NotepadPlusPlusSoapIn">
    <wsdl:part name="parameters" element="tns:NotepadPlusPlus" />
  </wsdl:message>
  <wsdl:message name="NotepadPlusPlusSoapOut">
    <wsdl:part name="parameters" element="tns:NotepadPlusPlusResponse" />
  </wsdl:message>
  <wsdl:message name="JFLAPSoapIn">
    <wsdl:part name="parameters" element="tns:JFLAP" />
  </wsdl:message>
  <wsdl:message name="JFLAPSoapOut">
    <wsdl:part name="parameters" element="tns:JFLAPResponse" />
  </wsdl:message>
  <wsdl:message name="BraveSoapIn">
    <wsdl:part name="parameters" element="tns:Brave" />
  </wsdl:message>
  <wsdl:message name="BraveSoapOut">
    <wsdl:part name="parameters" element="tns:BraveResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CPUz">
      <wsdl:input message="tns:CPUzSoapIn" />
      <wsdl:output message="tns:CPUzSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WinRAR">
      <wsdl:input message="tns:WinRARSoapIn" />
      <wsdl:output message="tns:WinRARSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotepadPlusPlus">
      <wsdl:input message="tns:NotepadPlusPlusSoapIn" />
      <wsdl:output message="tns:NotepadPlusPlusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JFLAP">
      <wsdl:input message="tns:JFLAPSoapIn" />
      <wsdl:output message="tns:JFLAPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Brave">
      <wsdl:input message="tns:BraveSoapIn" />
      <wsdl:output message="tns:BraveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CPUz">
      <soap:operation soapAction="http://tempuri.org/CPUz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WinRAR">
      <soap:operation soapAction="http://tempuri.org/WinRAR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotepadPlusPlus">
      <soap:operation soapAction="http://tempuri.org/NotepadPlusPlus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JFLAP">
      <soap:operation soapAction="http://tempuri.org/JFLAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Brave">
      <soap:operation soapAction="http://tempuri.org/Brave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CPUz">
      <soap12:operation soapAction="http://tempuri.org/CPUz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WinRAR">
      <soap12:operation soapAction="http://tempuri.org/WinRAR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotepadPlusPlus">
      <soap12:operation soapAction="http://tempuri.org/NotepadPlusPlus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JFLAP">
      <soap12:operation soapAction="http://tempuri.org/JFLAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Brave">
      <soap12:operation soapAction="http://tempuri.org/Brave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44335/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44335/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>